<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Classification and Prediction with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>IRIS Flower Classification</h1>
        <form action="/predict" method="post">
            <label for="model">Select Model:</label>
            <select id="model" name="model">
                <option value="knn">K-Nearest Neighbors (K-NN)</option>
                <option value="linear">Linear Regression</option>
                <option value="bayes">Gaussian Naive Bayes</option>
            </select><br>

            <div id="input-fields">
                <label for="feature0">Feature 1:</label>
                <input type="text" id="feature0" name="feature0" required><br>

                <label for="feature1">Feature 2:</label>
                <input type="text" id="feature1" name="feature1" required><br>

                <label for="feature2">Feature 3:</label>
                <input type="text" id="feature2" name="feature2" required><br>

                <label for="feature3">Feature 4:</label>
                <input type="text" id="feature3" name="feature3" required><br>
            </div>

            <input type="submit" value="Predict">
        </form>

        {% if prediction and prediction_time  is not none %}
            <h2>Result: {{ prediction }}</h2>
            <p>Prediction Time: {{ '%.2f'|format(prediction_time) }} ms</p>
        {% endif %}
    </div>
</body>

</html>